@using PPS_MVC.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PPS_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PPS_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">PPS_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ClientList" asp-action="ListClients">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Staff" asp-action="DisplayStaff">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ProgramLib" asp-action="ListClients">Program Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="AgencyInfo" asp-action="ListClients">Agency Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
@*     <div class="sidebar accordion-collapse" id="sidenav" data-scrolled="true">
        <div id="leftmenuinner">
            <div id="leftmenuinnerinner">
   
                <script>
                    function filterContent(elmnt) {
                        var x, i, val, show, showh2, showbr;
                        val = elmnt.value;
                        x = document.getElementById("leftmenuinnerinner").getElementsByTagName("*");
                        for (i = 1; i < x.length; i++) {
                            if (x[i].tagName == "H2") {
                                if (showh2) {
                                    if (show == false) {
                                        showh2.style.display = "none";
                                    } else {
                                        showh2.style.display = "block";
                                    }
                                }
                                show = false;
                                showh2 = x[i];
                            }
                            if (x[i].tagName == "BR") {
                                if (showbr) {
                                    if (show == false) {
                                        showbr.style.display = "none";
                                    } else {
                                        showbr.style.display = "block";
                                    }
                                }
                                showbr = x[i];
                            }
                            if (x[i].tagName == "A") {
                                if (x[i].innerHTML.toUpperCase().indexOf(val.toUpperCase()) == -1) {
                                    x[i].style.display = "none";
                                } else {
                                    x[i].style.display = "block";
                                    show = true;
                                }
                            }
                            if (showh2) {
                                if (show == false) {
                                    showh2.style.display = "none";
                                } else {
                                    showh2.style.display = "block";
                                }
                            }
                        }
                    }
                </script>
                <br class="visually-hidden">

                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a target="_top" class="no-checkmark active" href="howto_css_icon_bar.asp">Menu Item 1</a>
                <a target="_top" class="no-checkmark active" href="howto_css_icon_bar.asp">Menu Item 2</a>
            </div>
        </div>
    </div> *@

  
  <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PPS_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

