@page "/Client/List"

@rendermode InteractiveAuto

<PageTitle>Client List</PageTitle>

<h1>Client List</h1>
 
<ClientComponent></ClientComponent>

<SearchBarComponent ></SearchBarComponent>

<ClientListTableComponent ></ClientListTableComponent>

@* button for Add Client *@
<a href="/Client/Add" type="button" class="btn btn-primary">Add Client</a>



@code 
{

 
}
