@page "/clientDetails/display/{clientId:int}"
@inject NavigationManager NavigationManager
@inject IClientService ClientService
@rendermode InteractiveAuto



<h3>ClientDetailsDisplay</h3>

@code {

}
